
<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Acme|Montserrat|Play|Questrial" rel="stylesheet">

    <title>Socket.IO Chat Application</title>
    <link href="public/css/main.css" rel="stylesheet"></link>
</head>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="row">
        <div class="col-md-4" style="background: #F25F5C" align="middle">
            <img id="icon" src="../public/img/Messenger.svg">
            <h5>Socket.IO Messenger Application</h5>

            <div>Online Users:</div>
            <div class="userform">
                <ul id="userlist"></ul>
            </div>

        </div>
        <div class="col-md-8" style=" position: relative; background: #43AA8B">



            <ul id="chat" class="list-unstyled"></ul>
            <form id="chat-box" action="">
                <input id="message" autocomplete="off" placeholder="Enter Message" /><button id="send-button" type="button" class="btn btn-primary">Send</button>
            </form>
        </div>

    </div>
</main>

<body>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="public/js/socket.js"></script>

</body>
</html>